.button-big {
  background-image: url('images/button-big.svg');
}

.button-big:hover {
  background-image: url('images/button-big-hover.svg');
}

.button-big:active {
  background-image: url('images/button-big-active.svg');
}
